/* O fundo escuro que ocupa o canvas inteiro */
.BooksMural_Overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.8); /* Fundo bem escuro para dar foco */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

/* A caixa do Mural */
.BooksMural {
    position: relative;
    background: var(--menu-background);
    border: 2px solid var(--menu-border-color);
    padding: 15px;
    display: flex;
    flex-direction: column; /* Coloca o grid em cima e o botão embaixo */
    align-items: center;
    gap: 10px;
    width: 40%;
    height: 50%;
}

/* O Grid 4x3 de Livros */
.BooksMural_Grid { 
    display: grid !important;
    position: absolute;
    top: 5px;
    left: 25px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 15px;
}

/* O Livro individual */
.Book {
    width: 20px;
    height: 30px;
    background: var(--menu-background);
    cursor: pointer;
    transition: transform 0.1s;
}

.Book:hover {
    transform: scale(1.1);
}

.Book img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-rendering: pixelated;
}

/* Estilo do botão Next */
.BooksMural_button { 
    position: absolute;
    cursor: pointer;
    right: 5px;
    bottom: 5px;
    padding: 4px 10px;
    background: var(--menu-background);
    color: var(--menu-font-color);
    border: 1px solid var(--menu-border-color);
    font-family: inherit;
    font-size: 12px;
}

.BooksMural_button:hover {
    filter: brightness(1.2);
}