:root{
  --border-color : #291D4D;
  --dialog-background: #FFF3B4;

  --menu-background: #FFE8D2;
  --menu-border-color: #A48465;
  --menu-font-color: #3A160D;
  --menu-selected-background: #7fc2ff;
}

body{
    background-color: #333;
    padding: 0;
    margin: 0;
    /* Desativar a rolagem que pode ocorrer ao utilizar as setas */
    overflow: hidden;
}

.game-container {
    position: relative;
    width: 352px;
    height: 198px;
    margin: 0 auto;
    margin-top: 20px;
    outline: 1px solid white;
    
    transform: scale(2) translateY(25%);
}

.game-container canvas{
    image-rendering: pixelated;
}